.q-nav-handheld-btn[aria-expanded="true"] + #q-handheld-menu-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.q-hanheld-nav-popup-wrapper {
  background-color: var(--q-content-bg);
  height: 100%;
  padding: 1em; }
  .q-hanheld-nav-popup-wrapper li.current-menu-item > a,
  .q-hanheld-nav-popup-wrapper li.current-menu-item > a:visited, .q-hanheld-nav-popup-wrapper li.current-page-item > a,
  .q-hanheld-nav-popup-wrapper li.current-page-item > a:visited, .q-hanheld-nav-popup-wrapper li.current_page_item > a,
  .q-hanheld-nav-popup-wrapper li.current_page_item > a:visited, .q-hanheld-nav-popup-wrapper li.current-page-ancestor > a,
  .q-hanheld-nav-popup-wrapper li.current-page-ancestor > a:visited, .q-hanheld-nav-popup-wrapper li.current-menu-ancestor > a,
  .q-hanheld-nav-popup-wrapper li.current-menu-ancestor > a:visited, .q-hanheld-nav-popup-wrapper li.current-menu-parent > a,
  .q-hanheld-nav-popup-wrapper li.current-menu-parent > a:visited, .q-hanheld-nav-popup-wrapper li.current-page-parent > a,
  .q-hanheld-nav-popup-wrapper li.current-page-parent > a:visited, .q-hanheld-nav-popup-wrapper li.current_page_parent > a,
  .q-hanheld-nav-popup-wrapper li.current_page_parent > a:visited, .q-hanheld-nav-popup-wrapper li.current_page_ancestor > a,
  .q-hanheld-nav-popup-wrapper li.current_page_ancestor > a:visited {
    color: var(--q-content-bg);
    background: var(--q-links-color); }
  .q-hanheld-nav-popup-wrapper li.current-menu-item .q-toggle, .q-hanheld-nav-popup-wrapper li.current-page-item .q-toggle, .q-hanheld-nav-popup-wrapper li.current_page_item .q-toggle, .q-hanheld-nav-popup-wrapper li.current-page-ancestor .q-toggle, .q-hanheld-nav-popup-wrapper li.current-menu-ancestor .q-toggle, .q-hanheld-nav-popup-wrapper li.current-menu-parent .q-toggle, .q-hanheld-nav-popup-wrapper li.current-page-parent .q-toggle, .q-hanheld-nav-popup-wrapper li.current_page_parent .q-toggle, .q-hanheld-nav-popup-wrapper li.current_page_ancestor .q-toggle {
    color: var(--q-content-bg);
    background: var(--q-links-color); }
    .q-hanheld-nav-popup-wrapper li.current-menu-item .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current-page-item .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current_page_item .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current-page-ancestor .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current-menu-ancestor .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current-menu-parent .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current-page-parent .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current_page_parent .q-toggle svg, .q-hanheld-nav-popup-wrapper li.current_page_ancestor .q-toggle svg {
      fill: var(--q-content-bg); }
  .q-hanheld-nav-popup-wrapper li.menu-item-has-children > a, .q-hanheld-nav-popup-wrapper li.page_item_has_children > a {
    padding-right: .5em;
    width: calc(100% - 2em - 0.01px); }
  .q-hanheld-nav-popup-wrapper a,
  .q-hanheld-nav-popup-wrapper a:visited {
    padding: 0.618em 1em;
    color: var(--q-text-color); }
    .q-hanheld-nav-popup-wrapper a:hover, .q-hanheld-nav-popup-wrapper a:focus, .q-hanheld-nav-popup-wrapper a.focus, .q-hanheld-nav-popup-wrapper a.toggled-on,
    .q-hanheld-nav-popup-wrapper a:visited:hover,
    .q-hanheld-nav-popup-wrapper a:visited:focus,
    .q-hanheld-nav-popup-wrapper a:visited.focus,
    .q-hanheld-nav-popup-wrapper a:visited.toggled-on {
      color: var(--q-content-bg);
      background: var(--q-links-color); }
      .q-hanheld-nav-popup-wrapper a:hover ~ .q-toggle, .q-hanheld-nav-popup-wrapper a:focus ~ .q-toggle, .q-hanheld-nav-popup-wrapper a.focus ~ .q-toggle, .q-hanheld-nav-popup-wrapper a.toggled-on ~ .q-toggle,
      .q-hanheld-nav-popup-wrapper a:visited:hover ~ .q-toggle,
      .q-hanheld-nav-popup-wrapper a:visited:focus ~ .q-toggle,
      .q-hanheld-nav-popup-wrapper a:visited.focus ~ .q-toggle,
      .q-hanheld-nav-popup-wrapper a:visited.toggled-on ~ .q-toggle {
        background: var(--q-links-color); }
        .q-hanheld-nav-popup-wrapper a:hover ~ .q-toggle svg, .q-hanheld-nav-popup-wrapper a:focus ~ .q-toggle svg, .q-hanheld-nav-popup-wrapper a.focus ~ .q-toggle svg, .q-hanheld-nav-popup-wrapper a.toggled-on ~ .q-toggle svg,
        .q-hanheld-nav-popup-wrapper a:visited:hover ~ .q-toggle svg,
        .q-hanheld-nav-popup-wrapper a:visited:focus ~ .q-toggle svg,
        .q-hanheld-nav-popup-wrapper a:visited.focus ~ .q-toggle svg,
        .q-hanheld-nav-popup-wrapper a:visited.toggled-on ~ .q-toggle svg {
          fill: var(--q-content-bg); }
  .q-hanheld-nav-popup-wrapper .q-toggle {
    color: var(--q-text-color);
    padding: 0 .5em; }
    .q-hanheld-nav-popup-wrapper .q-toggle svg {
      fill: var(--q-text-color); }
    .q-hanheld-nav-popup-wrapper .q-toggle:hover, .q-hanheld-nav-popup-wrapper .q-toggle:focus, .q-hanheld-nav-popup-wrapper .q-toggle.focus, .q-hanheld-nav-popup-wrapper .q-toggle.toggled-on {
      color: var(--q-text-color);
      background: var(--q-links-color); }
      .q-hanheld-nav-popup-wrapper .q-toggle:hover svg, .q-hanheld-nav-popup-wrapper .q-toggle:focus svg, .q-hanheld-nav-popup-wrapper .q-toggle.focus svg, .q-hanheld-nav-popup-wrapper .q-toggle.toggled-on svg {
        fill: var(--q-content-bg); }
