body {
  padding-bottom: 54px; }

.q-tp-nav-handheld.q-tp {
  position: fixed;
  bottom: 0;
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  font-size: 17px; }
  .q-tp-nav-handheld.q-tp > * {
    width: 100%;
    max-width: 168px; }

.q-nav-handheld-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  border-radius: 0;
  background: none;
  color: #333;
  padding: 8px 12px;
  border: none;
  text-decoration: none;
  height: 54px;
  opacity: .55; }
  .q-nav-handheld-btn .label {
    width: 100%;
    color: #333;
    text-align: center;
    font-size: 14px; }
  .q-nav-handheld-btn.home {
    text-decoration: none; }
  .q-nav-handheld-btn:hover, .q-nav-handheld-btn:focus, .q-nav-handheld-btn:active, .q-nav-handheld-btn[aria-expanded=true] {
    background: none;
    color: #000;
    box-shadow: none;
    text-decoration: none;
    opacity: 1; }
  .q-nav-handheld-btn svg {
    width: 20px;
    height: 20px; }
  .q-nav-handheld-btn[aria-expanded=true] + #q-handheld-search-wrapper,
  .q-nav-handheld-btn[aria-expanded=true] + #q-handheld-widget-area-wrapper,
  .q-nav-handheld-btn[aria-expanded=true] + #q-handheld-menu-wrapper,
  .q-nav-handheld-btn[aria-expanded=true] + #q-handheld-cart-wrapper {
    display: block; }

#q-handheld-search-wrapper,
#q-handheld-widget-area-wrapper,
#q-handheld-menu-wrapper,
#q-handheld-cart-wrapper {
  display: none;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 54px;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 54px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: end;
      align-items: flex-end;
  overflow-y: scroll;
  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, .12);
  padding: 12px; }
  #q-handheld-search-wrapper.expanded,
  #q-handheld-widget-area-wrapper.expanded,
  #q-handheld-menu-wrapper.expanded,
  #q-handheld-cart-wrapper.expanded {
    display: -ms-flexbox;
    display: flex; }

#q-handheld-search-wrapper {
  -ms-flex-align: normal;
      align-items: normal;
  -ms-flex-align: stretch;
      align-items: stretch;
  font-size: 22px;
  padding: 2em; }
  #q-handheld-search-wrapper .search-form {
    height: 100%; }
    #q-handheld-search-wrapper .search-form input {
      border-bottom: none; }

#q-handheld-widget-area-wrapper .widget {
  width: 100%;
  padding: 1em; }

#q-handheld-woo-cart {
  position: relative; }
  #q-handheld-woo-cart > button > .label .count {
    position: absolute;
    top: 6px;
    min-width: 1.7em;
    left: calc(50% + 4px);
    font-size: 10px;
    color: #fff;
    background: #dc3232;
    border-radius: 10px;
    padding: 0; }
