.q-tp-nested-grid-ID {
  background-color: var(--q-nested-grid-ID-bg);
  padding: var(--q-nested-grid-ID-padding);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: visible;
  box-shadow: var(--q-nested-grid-ID-box-shadow); }
  .q-tp-nested-grid-ID > .inner {
    width: 100%;
    max-width: var(--q-nested-grid-ID-max-width); }
