// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual nested-grid ID via PHP
// when the style is included inline in the document.
.q-tp-nested-grid-ID {
    background-color: var(--q-nested-grid-ID-bg);
    padding: var(--q-nested-grid-ID-padding);
    display: flex;
    justify-content: center;
    overflow: visible;
    box-shadow: var(--q-nested-grid-ID-box-shadow);

    > .inner {
		width: 100%;
        max-width: var(--q-nested-grid-ID-max-width);
    }
}
