// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual nested-grid ID via PHP
// when the style is included inline in the document.
.q-tp-nested-grid-ID.q-tp {
    > .inner {
		display:-ms-grid;
        display: grid;
        grid-gap: var(--q-nested-grid-ID-grid-gap);
    }
}
