// Adjust customizer sidebar width
$sidebar-width: 400px;
.wp-full-overlay-sidebar {
	min-width: $sidebar-width;
}

.wp-full-overlay.expanded {
	margin-left: $sidebar-width;
}

#customize-controls {
	#sub-accordion-section-q_theme_grid {
		li {
			&.accordion-section {
				.accordion-section-title {
					color: #333;
					background: #fff !important;

					&:hover {
						background: #dedede !important;
					}
				}
				&.control-section-kirki-nested {
					h3.accordion-section-title {
						display: none;
					}
				}
			}
		}
	}
	.customize-section-description-container.section-meta {
		.dashicons {
			display: none;
		}
	}
}

.accordion-section-title.dashicons-before:before {
	color: #82878C;
	padding-right: 7px;

	&.rtl {
		padding-right: 0;
		padding-left: 7px;
	}
}

.customize-control-kirki-radio-buttonset .buttonset {
	display:-ms-grid;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    border-radius: 4px;
    overflow: hidden;
	grid-gap: 2px;
}

#customize-control-q_theme_grid_footer_background .background-wrapper {
	padding: 1em;
	border: 1px solid #ccc;
}

#input_q_theme_grid_nav-primary_justify_content {
	display:-ms-grid;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;

	> label {
		display: block;
		flex-wrap: wrap;
		padding: 5px;
		border: 1px solid #ccc;

		> * {
			width: 100%;
			order: 2;
		}

		.image-label {
			display: block;
			position: relative;
			order: 1;
			background: none;
		}
	}

	img {
		height: 40px;
	}
	input {
		&:checked {
			+ label {
				box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
				border: 1px solid #3498DB;
			}
		}
	}
}

.customize-control-kirki-dimensions {
	.wrapper {
		.control {
			display:-ms-grid;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 12px;

			> div {
				width: 100%;
			}
		}
	}
}

#input_q_theme_global_grid_toggle,
#input_q_theme_footer_grid_toggle,
#input_q_theme_header_grid_toggle {
	.switch-label {
		background: #333;
		color: rgba(255,255,255,.3);
		border-radius: 0;
		padding: 1em;
	}
	.switch-input {
		&:checked {
			+ .switch-label {
				background: #00a0d2;
				color: #fff;
			}
		}
	}
}

#input_q_theme_grid_nav_1_expand_icon {
	.switch-label {
		svg {
			width: 2em;
			height: 2em;
		}
	}

	.switch-input:checked + .switch-label {
		svg {
			fill: #fff;
		}
	}
}

h3.q-customizer-section-title {
	padding: 1em 0;
	font-size: 1.5em !important;
	border-bottom: 1px solid #bbb;
	color: #555;
	text-transform: uppercase;
}

.customize-control-kirki-radio-image  {
	label {
		width: 50%;

		img {
			padding: 10px;
			box-sizing: border-box;
		}
	}
}

#input_q_theme_grid_nav_1_expand_icon_position,
#input_q_theme_grid_nav_2_expand_icon_position,
#input_q_theme_grid_nav_3_expand_icon_position,
#input_q_theme_grid_nav_4_expand_icon_position,
#input_q_theme_grid_nav_5_expand_icon_position,
#input_q_theme_grid_nav_6_expand_icon_position,
#input_q_theme_grid_nav_7_expand_icon_position,
#input_q_theme_grid_nav_8_expand_icon_position,
#input_q_theme_grid_nav_9_expand_icon_position,
#input_q_theme_grid_nav_10_expand_icon_position {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	> label {
		line-height: 2.5em;
	}
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
	margin-left: -400px;
}

#input_q_theme_global_grid_preset {
	label {
		width: 25%;
	}
}