.accecss-protanopia {
  -webkit-filter: url("./filters.svg#protanopia");
          filter: url("./filters.svg#protanopia"); }

/*
CSS accecss : FALSE
*/
.accecss-protanomaly {
  -webkit-filter: url("./filters.svg#protanomaly");
          filter: url("./filters.svg#protanomaly"); }

/*
CSS accecss : FALSE
*/
.accecss-deuteranopia {
  -webkit-filter: url("./filters.svg#deuteranopia");
          filter: url("./filters.svg#deuteranopia"); }

/*
CSS accecss : FALSE
*/
.accecss-deuteranomaly {
  -webkit-filter: url("./filters.svg#deuteranomaly");
          filter: url("./filters.svg#deuteranomaly"); }

/*
CSS accecss : FALSE
*/
.accecss-tritanopia {
  -webkit-filter: url("./filters.svg#tritanopia");
          filter: url("./filters.svg#tritanopia"); }

/*
CSS accecss : FALSE
*/
.accecss-tritanomaly {
  -webkit-filter: url("./filters.svg#tritanomaly");
          filter: url("./filters.svg#tritanomaly"); }

/*
CSS accecss : FALSE
*/
.accecss-achromatopsia {
  -webkit-filter: url("./filters.svg#achromatopsia");
          filter: url("./filters.svg#achromatopsia"); }

/*
CSS accecss : FALSE
*/
.accecss-achromatomaly {
  -webkit-filter: url("./filters.svg#achromatomaly");
          filter: url("./filters.svg#achromatomaly"); }

/*
CSS accecss : FALSE
*/
