.customize-control-q_section_help .q-section-help-wrapper {
  display: none;
  max-height: 500px;
  overflow-y: scroll;
  background: #fff;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #ccc; }
  .customize-control-q_section_help .q-section-help-wrapper.active {
    display: block; }
  .customize-control-q_section_help .q-section-help-wrapper .wp-block-embed {
    margin: 0;
    padding: 0; }
    .customize-control-q_section_help .q-section-help-wrapper .wp-block-embed iframe {
      max-width: 100%;
      height: 185px; }
.customize-control-q_section_help .q-help-section-link .collapse {
  display: none; }
.customize-control-q_section_help .q-help-section-link.active .collapse {
  display: inline; }
.customize-control-q_section_help .q-help-section-link.active .expand {
  display: none; }
