.customize-control-q_section_help {
	.q-section-help-wrapper {
		display: none;
		max-height: 500px;
		overflow-y: scroll;
		background: #fff;
		padding: 12px;
		border-radius: 3px;
		border: 1px solid #ccc;

		&.active {
			display: block;
		}

		.wp-block-embed {
			margin: 0;
			padding: 0;

			iframe {
				max-width: 100%;
				height: 185px;
			}
		}
	}

	.q-help-section-link {
		.collapse {
			display: none;
		}

		&.active {
			.collapse {
				display: inline;
			}

			.expand {
				display: none;
			}
		}
	}
}
