.q-tp-footer.q-tp {
	background-color: var(--q-footer-bg);
	border-top: var(--q-footer-border-top-width) solid var(--q-footer-border-top-color);
	padding-top: var(--q-footer-grid-gap);

	.inner {
		display:-ms-grid;
		display: grid;
		grid-gap: var(--q-footer-grid-gap);
		width: 100%;
		max-width: var(--q-footer-max-width);
	}
}
