.q-tp-footer_sidebar_ID {
  background-color: var(--q-footer-sidebar-ID-bg);
  padding: var(--q-footer-padding);
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .q-tp-footer_sidebar_ID .widget,
  .q-tp-footer_sidebar_ID .wp-caption {
    width: 100%;
    color: var(--q-footer-sidebar-ID-color); }
  .q-tp-footer_sidebar_ID h1, .q-tp-footer_sidebar_ID h2, .q-tp-footer_sidebar_ID h3, .q-tp-footer_sidebar_ID h4, .q-tp-footer_sidebar_ID h5, .q-tp-footer_sidebar_ID h6,
  .q-tp-footer_sidebar_ID .h1, .q-tp-footer_sidebar_ID .h2, .q-tp-footer_sidebar_ID .h3, .q-tp-footer_sidebar_ID .h4, .q-tp-footer_sidebar_ID .h5,
  .q-tp-footer_sidebar_ID .h6 {
    color: var(--q-footer-sidebar-ID-color); }
  .q-tp-footer_sidebar_ID a,
  .q-tp-footer_sidebar_ID a:visited {
    color: var(--q-footer-sidebar-ID-links-color); }
    .q-tp-footer_sidebar_ID a:focus,
    .q-tp-footer_sidebar_ID a:visited:focus {
      color: var(--q-footer-sidebar-ID-links-color); }
