.q-tp-footer_social_media.q-tp {
	background-color: var(--q-footer-social-icons-bg);
	align-items: center;
	justify-content: var(--q-footer-social-icons-text-align);

	a {
		display: block;
		max-width: var(--q-footer-social-icons-size);
		padding: var(--q-footer-social-icons-padding);
		box-sizing: content-box;
		line-height: 1;
		color: var(--q-footer-social-icons-color);
	}

	svg {
		fill: var(--q-footer-social-icons-color);
	}
}
