@import "../../../assets/css/functions";

// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.q-tp-nav_ID {

	nav,
	.q-nav-horizontal {
		display: none;
		position: absolute;
		top: 100%;
		background-color: var(--q-nav-ID-bg);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
		width: 15em;
		max-width: 350px;
		z-index: 9; // IE11
	}

	.q-toggle-navigation {
		display: flex;
		background-color: var(--q-nav-ID-bg);
		padding: var(--q-nav-ID-items-padding);
		border: none;
		width: var(--q-nav-ID-collapsed-icon-size);
		height: var(--q-nav-ID-collapsed-icon-size);
		box-sizing: content-box;
		border-radius: 0;

		svg {
			width: var(--q-nav-ID-collapsed-icon-size);
			fill: var(--q-nav-ID-color);
		}

		.icon {
			line-height: 1;

			svg {
				transition: all 200ms;
				transform-origin: center center;
			}

			&.close {
				position: absolute;

				svg {
					opacity: 0;
				}
			}
		}

		&:hover,
		&:focus,
		&.focus,
		&.toggled-on {
			background: var(--q-nav-ID-accent-bg);
			box-shadow: none;

			svg {
				fill: var(--q-nav-ID-accent-color);
			}
		}

		&.toggled-on {
			~nav {
				display: block;

				.q-sticky & {
					max-height: 60vh;
					overflow-y: auto;
				}
			}

			.icon {
				svg {
					transform: rotate(360deg);
				}

				&.open {
					svg {
						opacity: 0;
					}
				}

				&.close {
					svg {
						opacity: 1;
					}
				}
			}
		}
	}

	&.q-menu-collapse-position {

		&-top-left,
		&-top-center,
		&-top-right {
			.inner {
				align-items: flex-start;
			}
		}

		&-center-left,
		&-center-center,
		&-center-right {
			.inner {
				align-items: center;
			}
		}

		&-bottom-left,
		&-bottom-center,
		&-bottom-right {
			.inner {
				align-items: flex-end;
			}
		}

		&-top-left,
		&-center-left,
		&-bottom-left {
			.inner {
				justify-content: flex-start;
			}
		}

		&-top-center,
		&-center-center,
		&-bottom-center {
			.inner {
				justify-content: center;
			}
		}

		&-top-right,
		&-center-right,
		&-bottom-right {
			.inner {
				justify-content: flex-end;
			}

			nav {
				right: 0; // IE11
				// transform: translateX(calc(-100% + var(--q-nav-ID-collapsed-icon-size) + 2 * var(--q-nav-ID-items-padding)));
			}
		}
	}
}
