.q-tp-nav_ID nav,
.q-tp-nav_ID .q-nav-horizontal {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--q-nav-ID-bg);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
  width: 15em;
  max-width: 350px;
  z-index: 9; }
.q-tp-nav_ID .q-toggle-navigation {
  display: -ms-flexbox;
  display: flex;
  background-color: var(--q-nav-ID-bg);
  padding: var(--q-nav-ID-items-padding);
  border: none;
  width: var(--q-nav-ID-collapsed-icon-size);
  height: var(--q-nav-ID-collapsed-icon-size);
  box-sizing: content-box;
  border-radius: 0; }
  .q-tp-nav_ID .q-toggle-navigation svg {
    width: var(--q-nav-ID-collapsed-icon-size);
    fill: var(--q-nav-ID-color); }
  .q-tp-nav_ID .q-toggle-navigation .icon {
    line-height: 1; }
    .q-tp-nav_ID .q-toggle-navigation .icon svg {
      transition: all 200ms;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .q-tp-nav_ID .q-toggle-navigation .icon.close {
      position: absolute; }
      .q-tp-nav_ID .q-toggle-navigation .icon.close svg {
        opacity: 0; }
  .q-tp-nav_ID .q-toggle-navigation:hover, .q-tp-nav_ID .q-toggle-navigation:focus, .q-tp-nav_ID .q-toggle-navigation.focus, .q-tp-nav_ID .q-toggle-navigation.toggled-on {
    background: var(--q-nav-ID-accent-bg);
    box-shadow: none; }
    .q-tp-nav_ID .q-toggle-navigation:hover svg, .q-tp-nav_ID .q-toggle-navigation:focus svg, .q-tp-nav_ID .q-toggle-navigation.focus svg, .q-tp-nav_ID .q-toggle-navigation.toggled-on svg {
      fill: var(--q-nav-ID-accent-color); }
  .q-tp-nav_ID .q-toggle-navigation.toggled-on ~ nav {
    display: block; }
    .q-sticky .q-tp-nav_ID .q-toggle-navigation.toggled-on ~ nav {
      max-height: 60vh;
      overflow-y: auto; }
  .q-tp-nav_ID .q-toggle-navigation.toggled-on .icon svg {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  .q-tp-nav_ID .q-toggle-navigation.toggled-on .icon.open svg {
    opacity: 0; }
  .q-tp-nav_ID .q-toggle-navigation.toggled-on .icon.close svg {
    opacity: 1; }
.q-tp-nav_ID.q-menu-collapse-position-top-left .inner, .q-tp-nav_ID.q-menu-collapse-position-top-center .inner, .q-tp-nav_ID.q-menu-collapse-position-top-right .inner {
  -ms-flex-align: start;
      align-items: flex-start; }
.q-tp-nav_ID.q-menu-collapse-position-center-left .inner, .q-tp-nav_ID.q-menu-collapse-position-center-center .inner, .q-tp-nav_ID.q-menu-collapse-position-center-right .inner {
  -ms-flex-align: center;
      align-items: center; }
.q-tp-nav_ID.q-menu-collapse-position-bottom-left .inner, .q-tp-nav_ID.q-menu-collapse-position-bottom-center .inner, .q-tp-nav_ID.q-menu-collapse-position-bottom-right .inner {
  -ms-flex-align: end;
      align-items: flex-end; }
.q-tp-nav_ID.q-menu-collapse-position-top-left .inner, .q-tp-nav_ID.q-menu-collapse-position-center-left .inner, .q-tp-nav_ID.q-menu-collapse-position-bottom-left .inner {
  -ms-flex-pack: start;
      justify-content: flex-start; }
.q-tp-nav_ID.q-menu-collapse-position-top-center .inner, .q-tp-nav_ID.q-menu-collapse-position-center-center .inner, .q-tp-nav_ID.q-menu-collapse-position-bottom-center .inner {
  -ms-flex-pack: center;
      justify-content: center; }
.q-tp-nav_ID.q-menu-collapse-position-top-right .inner, .q-tp-nav_ID.q-menu-collapse-position-center-right .inner, .q-tp-nav_ID.q-menu-collapse-position-bottom-right .inner {
  -ms-flex-pack: end;
      justify-content: flex-end; }
.q-tp-nav_ID.q-menu-collapse-position-top-right nav, .q-tp-nav_ID.q-menu-collapse-position-center-right nav, .q-tp-nav_ID.q-menu-collapse-position-bottom-right nav {
  right: 0; }
