.q-tp-nav_ID {
  background-color: var(--q-nav-ID-bg);
  overflow: visible;
  font-size: var(--q-nav-ID-font-size); }
  .q-tp-nav_ID .inner {
    padding: var(--q-nav-ID-padding);
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex; }
  .q-tp-nav_ID nav {
    width: 100%; }
  .q-tp-nav_ID .q-nav-horizontal {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .q-tp-nav_ID .q-nav-horizontal > * {
      width: 100%; }
  .q-tp-nav_ID .q-navigation {
    -ms-flex-pack: var(--q-nav-ID-justify);
        justify-content: var(--q-nav-ID-justify); }
    .q-tp-nav_ID .q-navigation ul {
      background-color: var(--q-nav-ID-submenu-bg); }
    .q-tp-nav_ID .q-navigation li.current-menu-item > a,
    .q-tp-nav_ID .q-navigation li.current-menu-item > a:visited, .q-tp-nav_ID .q-navigation li.current-page-item > a,
    .q-tp-nav_ID .q-navigation li.current-page-item > a:visited, .q-tp-nav_ID .q-navigation li.current_page_item > a,
    .q-tp-nav_ID .q-navigation li.current_page_item > a:visited, .q-tp-nav_ID .q-navigation li.current-page-ancestor > a,
    .q-tp-nav_ID .q-navigation li.current-page-ancestor > a:visited, .q-tp-nav_ID .q-navigation li.current-menu-ancestor > a,
    .q-tp-nav_ID .q-navigation li.current-menu-ancestor > a:visited, .q-tp-nav_ID .q-navigation li.current-menu-parent > a,
    .q-tp-nav_ID .q-navigation li.current-menu-parent > a:visited, .q-tp-nav_ID .q-navigation li.current-page-parent > a,
    .q-tp-nav_ID .q-navigation li.current-page-parent > a:visited, .q-tp-nav_ID .q-navigation li.current_page_parent > a,
    .q-tp-nav_ID .q-navigation li.current_page_parent > a:visited, .q-tp-nav_ID .q-navigation li.current_page_ancestor > a,
    .q-tp-nav_ID .q-navigation li.current_page_ancestor > a:visited {
      color: var(--q-nav-ID-accent-color);
      background: var(--q-nav-ID-accent-bg); }
    .q-tp-nav_ID .q-navigation li.current-menu-item .q-toggle, .q-tp-nav_ID .q-navigation li.current-page-item .q-toggle, .q-tp-nav_ID .q-navigation li.current_page_item .q-toggle, .q-tp-nav_ID .q-navigation li.current-page-ancestor .q-toggle, .q-tp-nav_ID .q-navigation li.current-menu-ancestor .q-toggle, .q-tp-nav_ID .q-navigation li.current-menu-parent .q-toggle, .q-tp-nav_ID .q-navigation li.current-page-parent .q-toggle, .q-tp-nav_ID .q-navigation li.current_page_parent .q-toggle, .q-tp-nav_ID .q-navigation li.current_page_ancestor .q-toggle {
      color: var(--q-nav-ID-accent-color);
      background: var(--q-nav-ID-accent-bg); }
      .q-tp-nav_ID .q-navigation li.current-menu-item .q-toggle svg, .q-tp-nav_ID .q-navigation li.current-page-item .q-toggle svg, .q-tp-nav_ID .q-navigation li.current_page_item .q-toggle svg, .q-tp-nav_ID .q-navigation li.current-page-ancestor .q-toggle svg, .q-tp-nav_ID .q-navigation li.current-menu-ancestor .q-toggle svg, .q-tp-nav_ID .q-navigation li.current-menu-parent .q-toggle svg, .q-tp-nav_ID .q-navigation li.current-page-parent .q-toggle svg, .q-tp-nav_ID .q-navigation li.current_page_parent .q-toggle svg, .q-tp-nav_ID .q-navigation li.current_page_ancestor .q-toggle svg {
        fill: var(--q-nav-ID-accent-color); }
    .q-tp-nav_ID .q-navigation li.menu-item-has-children > a, .q-tp-nav_ID .q-navigation li.page_item_has_children > a {
      padding-right: calc(var(--q-nav-ID-items-padding) / 2); }
    .q-tp-nav_ID .q-navigation a,
    .q-tp-nav_ID .q-navigation a:visited {
      padding: calc(var(--q-nav-ID-items-padding) / 1.618) var(--q-nav-ID-items-padding);
      color: var(--q-nav-ID-color); }
      .q-tp-nav_ID .q-navigation a:hover, .q-tp-nav_ID .q-navigation a:focus, .q-tp-nav_ID .q-navigation a.focus, .q-tp-nav_ID .q-navigation a.toggled-on,
      .q-tp-nav_ID .q-navigation a:visited:hover,
      .q-tp-nav_ID .q-navigation a:visited:focus,
      .q-tp-nav_ID .q-navigation a:visited.focus,
      .q-tp-nav_ID .q-navigation a:visited.toggled-on {
        color: var(--q-nav-ID-accent-color);
        background: var(--q-nav-ID-accent-bg); }
        .q-tp-nav_ID .q-navigation a:hover ~ .q-toggle, .q-tp-nav_ID .q-navigation a:focus ~ .q-toggle, .q-tp-nav_ID .q-navigation a.focus ~ .q-toggle, .q-tp-nav_ID .q-navigation a.toggled-on ~ .q-toggle,
        .q-tp-nav_ID .q-navigation a:visited:hover ~ .q-toggle,
        .q-tp-nav_ID .q-navigation a:visited:focus ~ .q-toggle,
        .q-tp-nav_ID .q-navigation a:visited.focus ~ .q-toggle,
        .q-tp-nav_ID .q-navigation a:visited.toggled-on ~ .q-toggle {
          background: var(--q-nav-ID-accent-bg); }
          .q-tp-nav_ID .q-navigation a:hover ~ .q-toggle svg, .q-tp-nav_ID .q-navigation a:focus ~ .q-toggle svg, .q-tp-nav_ID .q-navigation a.focus ~ .q-toggle svg, .q-tp-nav_ID .q-navigation a.toggled-on ~ .q-toggle svg,
          .q-tp-nav_ID .q-navigation a:visited:hover ~ .q-toggle svg,
          .q-tp-nav_ID .q-navigation a:visited:focus ~ .q-toggle svg,
          .q-tp-nav_ID .q-navigation a:visited.focus ~ .q-toggle svg,
          .q-tp-nav_ID .q-navigation a:visited.toggled-on ~ .q-toggle svg {
            fill: var(--q-nav-ID-accent-color); }
    .q-tp-nav_ID .q-navigation .q-toggle {
      color: var(--q-nav-ID-color);
      padding: 0 calc(var(--q-nav-ID-items-padding) / 2); }
      .q-tp-nav_ID .q-navigation .q-toggle svg {
        fill: var(--q-nav-ID-color); }
      .q-tp-nav_ID .q-navigation .q-toggle:hover, .q-tp-nav_ID .q-navigation .q-toggle:focus, .q-tp-nav_ID .q-navigation .q-toggle.focus, .q-tp-nav_ID .q-navigation .q-toggle.toggled-on {
        color: var(--q-nav-ID-accent-color);
        background: var(--q-nav-ID-accent-bg); }
        .q-tp-nav_ID .q-navigation .q-toggle:hover svg, .q-tp-nav_ID .q-navigation .q-toggle:focus svg, .q-tp-nav_ID .q-navigation .q-toggle.focus svg, .q-tp-nav_ID .q-navigation .q-toggle.toggled-on svg {
          fill: var(--q-nav-ID-accent-color); }
      .q-tp-nav_ID .q-navigation .q-toggle.toggled-on {
        background: var(--q-nav-ID-accent-bg); }
        .q-tp-nav_ID .q-navigation .q-toggle.toggled-on svg {
          fill: var(--q-nav-ID-accent-color); }
        .q-tp-nav_ID .q-navigation .q-toggle.toggled-on + ul li.menu-item-has-children > a, .q-tp-nav_ID .q-navigation .q-toggle.toggled-on + ul li.page_item_has_children > a {
          width: calc(100% - var(--q-nav-ID-items-padding) - 1em - 0.01px); }
  .q-tp-nav_ID .q-toggle-navigation {
    display: none; }
