// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.q-tp-nav_ID {
	background-color: var(--q-nav-ID-bg);
	overflow: visible;
	font-size: var(--q-nav-ID-font-size);

	.inner {
		padding: var(--q-nav-ID-padding);
		width: 100%;
		position: relative;
		display: flex;
	}

	nav {
		width: 100%;
	}

	.q-nav-horizontal {
		display: flex;
		align-items: center;

		>* {
			width: 100%;
		}
	}

	.q-navigation {
		justify-content: var(--q-nav-ID-justify);

		ul {
			background-color: var(--q-nav-ID-submenu-bg);
		}


		li {

			&.current-menu-item,
			&.current-page-item,
			&.current_page_item,
			&.current-page-ancestor,
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current-page-parent,
			&.current_page_parent,
			&.current_page_ancestor {

				>a,
				>a:visited {
					color: var(--q-nav-ID-accent-color);
					background: var(--q-nav-ID-accent-bg);
				}

				.q-toggle {
					color: var(--q-nav-ID-accent-color);
					background: var(--q-nav-ID-accent-bg);

					svg {
						fill: var(--q-nav-ID-accent-color);
					}
				}
			}

			&.menu-item-has-children,
			&.page_item_has_children {
				>a {
					padding-right: calc(var(--q-nav-ID-items-padding) / 2);
				}
			}
		}

		a,
		a:visited {
			padding: calc(var(--q-nav-ID-items-padding) / 1.618) var(--q-nav-ID-items-padding);
			color: var(--q-nav-ID-color);

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: var(--q-nav-ID-accent-color);
				background: var(--q-nav-ID-accent-bg);

				~.q-toggle {
					background: var(--q-nav-ID-accent-bg);

					svg {
						fill: var(--q-nav-ID-accent-color);
					}
				}
			}
		}

		.q-toggle {
			color: var(--q-nav-ID-color);
			padding: 0 calc(var(--q-nav-ID-items-padding) / 2);

			svg {
				fill: var(--q-nav-ID-color);
			}

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: var(--q-nav-ID-accent-color);
				background: var(--q-nav-ID-accent-bg);

				svg {
					fill: var(--q-nav-ID-accent-color);
				}
			}

			&.toggled-on {
				background: var(--q-nav-ID-accent-bg);

				svg {
					fill: var(--q-nav-ID-accent-color);
				}

				+ul {
					li {

						&.menu-item-has-children,
						&.page_item_has_children {
							>a {
								width: calc(100% - var(--q-nav-ID-items-padding) - 1em - 0.01px);
							}
						}
					}
				}
			}
		}
	}

	.q-toggle-navigation {
		display: none;
	}
}
