.q-tp-nav_ID .inner {
  -ms-flex-align: start;
      align-items: flex-start; }
.q-tp-nav_ID ul.menu {
  background-color: var(--q-nav-ID-submenu-bg); }
.q-tp-nav_ID li.menu-item-has-children > a, .q-tp-nav_ID li.page_item_has_children > a {
  width: calc(100% - var(--q-nav-ID-items-padding) - 1em - 0.01px); }
