// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.q-tp-nav_ID {

	.inner {
		align-items: flex-start;
	}

	ul {
		&.menu {
			background-color: var(--q-nav-ID-submenu-bg);
		}
	}

	li {

		&.menu-item-has-children,
		&.page_item_has_children {
			>a {
				width: calc(100% - var(--q-nav-ID-items-padding) - 1em - 0.01px);
			}
		}
	}
}
