.customize-control-kirki-wcag-lc {
	.rating-container {
		clear: both;
		display: block;
	}

	.colors-container {
		overflow-y: scroll;
		padding: 12px;
		margin-left: -12px;
		margin-right: -12px;
	}

	.kirki-input-container {
		background: #fff;
	}

	.color-hue-container,
	.color-hex-container {
		padding: 12px;
	}

	.expand-selectors {
		padding: 12px;
		display: block;
	}

	.iris-picker.iris-only-strip {
		width: 100% !important;
	}

	.rating-containers-wrapper {
		&.hidden {
			display: none;
		}
	}

	.rating-container {
		padding: 12px;

		label {
			padding: 0;
			float: left;
			margin: 0;
			line-height: 0;
			position: relative;

			.a11y-text-selector-label {
				border: 1px solid rgba(255, 255, 255, .1);
				box-sizing: border-box;
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		input[type="radio"] {
			display: none;

			&:checked {
				display: block;

				+.a11y-text-selector-label {
					overflow: visible;
					width: 150%;
					height: 150%;
					position: absolute;
					z-index: 2;
					left: -25%;
					top: -25%;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
					outline: 1px solid #fff;
				}
			}
		}

		&-AAA {
			label {
				width: 10%;
				height: 30px;
			}
		}

		&-AA {
			.colors-container {
				max-height: 120px;
			}

			label {
				width: 7%;
				height: 20px;
			}
		}

		&-A {
			.colors-container {
				max-height: 90px;
			}

			label {
				width: 5%;
				height: 16px;
			}
		}

		&.hidden {
			display: none;
		}
	}

	.tab-headers {
		.button {
			background: #fff;
			border-radius: 0;
			box-shadow: none;
			border: 1px solid #ccc;
			margin-bottom: -1px;

			&.active {
				border-bottom: none;
			}
		}
	}

	.tabs {
		border: 1px solid #ccc;
	}
}
