.customize-control-kirki-wcag-tc .kirki-a11y-text-colorpicker-wrapper[data-id="recommended"] .wrapper {
  text-align: left;
  min-height: 50px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px; }
.customize-control-kirki-wcag-tc .wrapper label {
  height: 23px;
  width: 10%;
  display: inline-block;
  position: relative; }
.customize-control-kirki-wcag-tc .a11y-text-selector-label {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid transparent; }
.customize-control-kirki-wcag-tc input[type="radio"] {
  display: none; }
  .customize-control-kirki-wcag-tc input[type="radio"]:checked {
    display: block; }
    .customize-control-kirki-wcag-tc input[type="radio"]:checked + .a11y-text-selector-label {
      overflow: visible;
      width: 150%;
      height: 150%;
      position: absolute;
      z-index: 2;
      left: -25%;
      top: -25%;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
              box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
      outline: 1px solid #fff; }
.customize-control-kirki-wcag-tc .selected-color {
  font-weight: 600; }
.customize-control-kirki-wcag-tc .tabs {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .customize-control-kirki-wcag-tc .tabs button {
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0; }
    .customize-control-kirki-wcag-tc .tabs button:hover, .customize-control-kirki-wcag-tc .tabs button:focus, .customize-control-kirki-wcag-tc .tabs button.active {
      -webkit-box-shadow: none;
              box-shadow: none;
      background: #fff; }
    .customize-control-kirki-wcag-tc .tabs button.active {
      color: #008ec2;
      border: 1px solid #ccc;
      border-bottom: none; }
      .customize-control-kirki-wcag-tc .tabs button.active:hover, .customize-control-kirki-wcag-tc .tabs button.active:focus {
        background: #fff; }
.customize-control-kirki-wcag-tc .mode-selectors {
  border: 1px solid #ccc;
  padding: 10px 5px;
  background: #fff;
  text-align: center; }
.customize-control-kirki-wcag-tc .selected-color-previewer-auto {
  padding: 3px 7px; }
