.q-tp-sidebar_1 .widget_nav_menu .q-navigation {
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-item > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-item > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-item > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-item > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_item > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_item > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-ancestor > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-ancestor > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-ancestor > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-ancestor > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-parent > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-parent > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-parent > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-parent > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_parent > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_parent > a:visited, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_ancestor > a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_ancestor > a:visited {
    color: var(--q-sidebar-ID-bg);
    background: var(--q-sidebar-ID-links-color); }
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-item .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-item .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_item .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-ancestor .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-ancestor .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-parent .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-parent .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_parent .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_ancestor .q-toggle {
    color: var(--q-sidebar-ID-links-color);
    background: var(--q-sidebar-ID-links-color); }
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-item .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-item .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_item .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-ancestor .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-ancestor .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-menu-parent .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current-page-parent .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_parent .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.current_page_ancestor .q-toggle svg {
      fill: var(--q-sidebar-ID-bg); }
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.menu-item-has-children > a, .q-tp-sidebar_1 .widget_nav_menu .q-navigation li.page_item_has_children > a {
    padding-right: .5em;
    width: calc(100% - 2em - 0.01px); }
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation a,
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited {
    padding: 0.618em 1em;
    color: var(--q-sidebar-ID-color); }
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:hover, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:focus, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.focus, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.toggled-on,
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:hover,
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:focus,
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.focus,
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.toggled-on {
      color: var(--q-sidebar-ID-bg);
      background: var(--q-sidebar-ID-links-color); }
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:hover ~ .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:focus ~ .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.focus ~ .q-toggle, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.toggled-on ~ .q-toggle,
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:hover ~ .q-toggle,
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:focus ~ .q-toggle,
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.focus ~ .q-toggle,
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.toggled-on ~ .q-toggle {
        background: var(--q-sidebar-ID-links-color); }
        .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:hover ~ .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:focus ~ .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.focus ~ .q-toggle svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation a.toggled-on ~ .q-toggle svg,
        .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:hover ~ .q-toggle svg,
        .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited:focus ~ .q-toggle svg,
        .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.focus ~ .q-toggle svg,
        .q-tp-sidebar_1 .widget_nav_menu .q-navigation a:visited.toggled-on ~ .q-toggle svg {
          fill: var(--q-sidebar-ID-bg); }
  .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle {
    color: var(--q-sidebar-ID-color);
    padding: 0 .5em; }
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle svg {
      fill: var(--q-sidebar-ID-color); }
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle:hover, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle:focus, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.focus, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on {
      background: var(--q-sidebar-ID-links-color); }
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle:hover svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle:focus svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.focus svg, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on svg {
        fill: var(--q-sidebar-ID-bg); }
    .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on {
      background: var(--q-sidebar-ID-links-color); }
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on svg {
        fill: var(--q-sidebar-ID-bg); }
      .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on + ul li.menu-item-has-children > a, .q-tp-sidebar_1 .widget_nav_menu .q-navigation .q-toggle.toggled-on + ul li.page_item_has_children > a {
        width: calc(100% - 2em - 0.01px); }
.q-tp-sidebar_1 .widget_nav_menu .q-toggle-navigation {
  display: none; }
