.widget_recent_entries ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }
.widget_recent_entries li {
  padding: .25em 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1); }
  .widget_recent_entries li:last-child {
    border-bottom: none; }
.widget_recent_entries.widget a {
  text-decoration: none; }
.widget_recent_entries .post-date {
  font-size: calc(1em / var(--q-typo-scale)); }
