.widget_archive {
	ul {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			text-decoration: none;
		}
	}

	a {
		display: block;
		width: 100%;
		padding: .25em 0;
	}

	> ul {
		> li {
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
