.widget_meta ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0; }
.widget_meta li {
  border-bottom: 1px solid rgba(0, 0, 0, .1); }
  .widget_meta li a {
    text-decoration: none; }
  .widget_meta li:last-child {
    border-bottom: none; }
.widget_meta a {
  display: block;
  padding: .25em 0; }
