.anchor-injected {
  opacity: 0;
  transition: all 250ms; }
  .anchor-injected:before {
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M21.921%202.081c2.771%202.772%202.771%207.269%200%2010.042l-3.84%203.839-2.121-2.122%203.839-3.84c1.599-1.598%201.599-4.199-.001-5.797-1.598-1.599-4.199-1.599-5.797-.001l-3.84%203.839-2.121-2.121%203.84-3.839c2.771-2.773%207.267-2.773%2010.041%200zm-8.082%2013.879l-3.84%203.839c-1.598%201.6-4.199%201.599-5.799%200-1.598-1.598-1.598-4.2%200-5.797l3.84-3.84-2.121-2.121-3.84%203.84c-2.771%202.772-2.772%207.268%200%2010.041%202.773%202.772%207.27%202.773%2010.041%200l3.84-3.84-2.121-2.122z%22%2F%3E%3C%2Fsvg%3E");
    line-height: 1;
    font-size: .75em;
    padding: 0 1em; }

h1:hover .anchor-injected, h1:active .anchor-injected,
h2:hover .anchor-injected,
h2:active .anchor-injected,
h3:hover .anchor-injected,
h3:active .anchor-injected,
h4:hover .anchor-injected,
h4:active .anchor-injected,
h5:hover .anchor-injected,
h5:active .anchor-injected,
h6:hover .anchor-injected,
h6:active .anchor-injected {
  opacity: 1; }
