article.post.format-video iframe {
  width: 100%;
  max-width: 100%; }
article.post.format-image figure,
article.post.format-image img {
  width: 100%;
  max-width: 100%; }

.archive article.post.format-aside, .archive article.post.format-link, .archive article.post.format-status {
  padding: 1.5em; }
.archive article.post.format-aside {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2); }
.archive article.post.format-status {
  border: 1px solid rgba(0, 0, 0, .1); }
.archive article.post.format-link {
  border: 1px solid rgba(0, 0, 0, .1);
  text-align: center; }
.archive article.post.format-chat .entry-content p {
  margin: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, .2);
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, .025); }
  .archive article.post.format-chat .entry-content p:nth-child(odd) {
    background: rgba(0, 0, 0, .1); }
.archive article.post a.to-infinity-and-beyond {
  padding: 0 0.5em;
  display: inline-block; }
