.comment-list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .comment-list .children {
    list-style: none;
    list-style-type: none; }
  .comment-list .pingback {
    font-size: 13.6px;
    font-size: 0.85rem;
    border-bottom: 1px solid #ededed; }
    .comment-list .pingback .edit-link {
      font-size: 12px;
      font-size: 0.75rem; }
  .comment-list .edit-link {
    float: right; }

.comment-meta .comment-metadata {
  font-size: calc(1em / var(--q-typo-scale)); }

.comment-body {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1); }

.comment-content {
  word-wrap: break-word; }
  .comment-content a {
    word-wrap: break-word; }

.bypostauthor {
  display: block; }

a.comment-reply-link {
  border: 2px solid #222;
  color: #fff;
  background-color: #222;
  text-decoration: none !important;
  border-radius: 0;
  padding: .35em 1.25em;
  transition: all 150ms ease-in-out;
  display: inline-block; }
  a.comment-reply-link:active, a.comment-reply-link:hover {
    cursor: default;
    outline: none;
    text-decoration: none; }
  a.comment-reply-link:active, a.comment-reply-link:focus, a.comment-reply-link:hover {
    color: #fff;
    border-color: #333;
    background: #333;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23); }
