html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  background: #fff;
  overflow-x: hidden; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ol,
ul {
  margin-bottom: 1em; }

ol {
  list-style: decimal; }

li > ol,
li > ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%; }

figure {
  margin: 1em 0; }

.post-thumbnail {
  display: block;
  text-align: center;
  line-height: 0;
  margin-bottom: 1em; }

table {
  margin: 0 0 1.5em;
  width: 100%; }
  table td,
  table th {
    padding: 12px;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6; }
  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }

q {
  font-style: italic; }
