button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid #222;
  color: #fff;
  background-color: #222;
  text-decoration: none !important;
  border-radius: 0;
  padding: .35em 1.25em;
  transition: all 150ms ease-in-out; }
  button:active, button:hover,
  input[type="button"]:active,
  input[type="button"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:hover {
    cursor: default;
    outline: none;
    text-decoration: none; }
  button:active, button:focus, button:hover,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="button"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="reset"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="submit"]:hover {
    color: #fff;
    border-color: #333;
    background: #333;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #dedede;
  border-radius: 0;
  padding: 0.5em; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #dedede;
  background: #fff;
  height: 2.5em;
  border-radius: 0; }

textarea {
  width: 100%; }

.search-form {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }
  .search-form > label {
    width: 100%; }
    .search-form > label > input.search-field {
      display: inline-block;
      width: calc(100% - 1em);
      background: none;
      border: none;
      border-bottom: 1px solid currentColor;
      border-radius: 0;
      margin-left: -1em;
      padding-left: 1.5em;
      transition: all 200ms;
      opacity: .7; }
      .search-form > label > input.search-field .rtl {
        padding-right: 1.5em;
        padding-left: .5em; }
      .search-form > label > input.search-field:hover, .search-form > label > input.search-field:focus {
        opacity: 1; }
        .search-form > label > input.search-field:hover + .q-search-icon, .search-form > label > input.search-field:focus + .q-search-icon {
          opacity: .7; }
  .search-form .q-search-icon {
    width: 1em;
    height: 100%;
    display: inline-block;
    float: left;
    opacity: .5;
    fill: currentColor;
    transition: all 400ms; }
    .rtl .search-form .q-search-icon {
      float: right; }
  .search-form .search-field {
    height: 100%;
    border-radius: 0; }
