.q-site-wrapper {
	width: 100%;
	max-width: var(--q-grid-max-width);
	margin: auto;
	min-height: 100vh;
}

.q-tp {
	min-width: 0;
	min-height: 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	// position: relative;
	transition: all 250ms ease-in-out;
	overflow: hidden;

	&.q-sticky {
		position: sticky;
		top: 0;
		z-index: 999;
	}
}
