.q-site-wrapper {
  width: 100%;
  max-width: var(--q-grid-max-width);
  margin: auto;
  min-height: 100vh; }

.q-tp {
  min-width: 0;
  min-height: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  transition: all 250ms ease-in-out;
  overflow: hidden; }
  .q-tp.q-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999; }
