a,
a:visited {
  color: var(--q-links-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
  -webkit-text-decoration: var(--q-links-text-decoration);
          text-decoration: var(--q-links-text-decoration);
  transition: all 100ms ease-in-out; }
  a:active, a:focus, a:hover,
  a:visited:active,
  a:visited:focus,
  a:visited:hover {
    color: var(--q-links-hover-color);
    outline: thin dotted; }
  a:focus,
  a:visited:focus {
    outline: thin dashed; }
  a h1, a h2, a h3, a h4, a h5, a h6,
  a:visited h1,
  a:visited h2,
  a:visited h3,
  a:visited h4,
  a:visited h5,
  a:visited h6 {
    -webkit-text-decoration: var(--q-header-links-text-decoration);
            text-decoration: var(--q-header-links-text-decoration); }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  -webkit-text-decoration: var(--q-header-links-text-decoration);
          text-decoration: var(--q-header-links-text-decoration); }
