a,
a:visited {
	color: var(--q-links-color);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
	text-decoration: var(--q-links-text-decoration);
	transition: all 100ms ease-in-out;

	&:active,
	&:focus,
	&:hover {
		color: var(--q-links-hover-color);
		outline: thin dotted;
	}

	&:focus {
		outline: thin dashed;
	}

	h1, h2, h3, h4, h5, h6 {
		text-decoration: var(--q-header-links-text-decoration);
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		text-decoration: var(--q-header-links-text-decoration);
	}
}
