.comment-content .wp-smiley,
.entry-content .wp-smiley,
.page-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.wp-block-embed.alignwide.is-type-video iframe {
  width: 100%; }

.wp-caption,
.wp-block-image {
  margin-bottom: 1.5em;
  max-width: 100%;
  background-color: rgba(128, 128, 128, .1);
  padding-bottom: 0.5em;
  color: var(--q-text-color);
  font-size: calc(1em / var(--q-typo-scale)); }
  .wp-caption img[class*="wp-image-"],
  .wp-block-image img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text,
  .wp-block-image .wp-caption-text {
    margin: 0.8075em 0; }

.wp-block-image figcaption {
  padding: 1em; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em; }
  .gallery.gallery-columns-2 {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr); }
  .gallery.gallery-columns-3 {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
  .gallery.gallery-columns-4 {
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr); }
  .gallery.gallery-columns-5 {
    -ms-grid-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr); }
  .gallery.gallery-columns-6 {
    -ms-grid-columns: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr); }
  .gallery.gallery-columns-7 {
    -ms-grid-columns: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr); }
  .gallery.gallery-columns-8 {
    -ms-grid-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr); }
  .gallery.gallery-columns-9 {
    -ms-grid-columns: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr); }

.gallery-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  vertical-align: top;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0; }
  .gallery-item .gallery-icon {
    width: 100%; }
  .gallery-item img {
    width: 100%; }
  .gallery-item .gallery-caption {
    font-size: 0.85em;
    width: 100%; }

.gallery-caption {
  display: block; }

.wp-block-cover .wp-block-cover-text {
  font-size: calc(var(--q-typo-scale) * 1em); }
