.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-links {
  clear: both;
  margin: 0 0 1.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .page-links > .item {
    text-align: center;
    min-width: 1.5em;
    display: inline-block; }
  .page-links a {
    display: block;
    padding: .25em .5em; }

.entry-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.85em; }
  .entry-footer > * {
    margin-right: 2.5em; }
    .rtl .entry-footer > * {
      margin-right: 0;
      margin-left: 2.5em; }

.post-thumbnail.parallax {
  height: var(--q-featured-image-parallax-height);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .3);
  margin-left: calc(0px - var(--q-content-padding-left));
  margin-right: calc(0px - var(--q-content-padding-right)); }

.entry-meta {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: calc(1em / var(--q-typo-scale)); }
