// CSS for this implementation is a slightly tweaked version of https://codepen.io/rolandtoth/pen/eMamVK/

@mixin setScrolltopColors($bgColor: #333, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
	#scrolltop-bg {
		fill: $bgColor;
	}

	#scrolltop-arrow {
		fill: $arrowColor;
	}

	a:hover {
		#scrolltop-bg {
			fill: $bgColorHover;
		}

		#scrolltop-arrow {
			fill: $arrowColorHover;
		}
	}
}

.scrolltop-wrap {
	$size: 3rem;
	$offsetBottom: 2rem;
	$offsetHorizontal: 2rem;
	$scrollToRevealDistance: 35vh; // scroll offset to reveal scroll-to-top link
	box-sizing: border-box;
	position: absolute;
	top: $scrollToRevealDistance;
	right: $offsetHorizontal;
	bottom: 0;
	pointer-events: none;
	backface-visibility: hidden;
	@include setScrolltopColors(var(--q-links-color), white, var(--q-links-hover-color));

	// prevent extra page height if content is smaller than viewport
	// Firefox only
	@supports (-moz-appearance: meterbar) {
		clip: rect(0, $size, auto, 0);
	}

	a {
		$offset: - ($size + $offsetBottom); // pull up + add a small bottom space
		position: fixed; // fallback
		position: sticky;
		top: $offset;
		width: $size;
		height: $size;
		margin-bottom: $offset;
		transform: translateY(100vh); // push to bottom from top (when stuck)
		backface-visibility: hidden;
		display: inline-block;
		text-decoration: none;
		user-select: none;
		pointer-events: all;
		outline: none;
		overflow: hidden;

		svg {
			display: block;
			border-radius: 50%;
			width: 100%;
			height: 100%;

			path {
				transition: all 0.1s;
			}
		}

		#scrolltop-arrow {
			transform: scale(0.66);
			transform-origin: center;
		}
	}

	@media print {
		display: none !important;
	}
}

.q-scroll-totop {
	bottom: 80;
	padding: .5em;
}
