.scrolltop-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 35vh;
  right: 32px;
  right: 2rem;
  bottom: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .scrolltop-wrap #scrolltop-bg {
    fill: var(--q-links-color); }
  .scrolltop-wrap #scrolltop-arrow {
    fill: white; }
  .scrolltop-wrap a:hover #scrolltop-bg {
    fill: var(--q-links-hover-color); }
  .scrolltop-wrap a:hover #scrolltop-arrow {
    fill: white; }
  @supports (-moz-appearance: meterbar) {
    .scrolltop-wrap {
      clip: rect(0, 3rem, auto, 0); } }
  .scrolltop-wrap a {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: -80px;
    top: -5rem;
    width: 48px;
    width: 3rem;
    height: 48px;
    height: 3rem;
    margin-bottom: -80px;
    margin-bottom: -5rem;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: inline-block;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: all;
    outline: none;
    overflow: hidden; }
    .scrolltop-wrap a svg {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
      .scrolltop-wrap a svg path {
        transition: all 0.1s; }
    .scrolltop-wrap a #scrolltop-arrow {
      -webkit-transform: scale(0.66);
              transform: scale(0.66);
      -webkit-transform-origin: center;
              transform-origin: center; }
  @media print {
    .scrolltop-wrap {
      display: none !important; } }

.q-scroll-totop {
  bottom: 80;
  padding: .5em; }
