// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
// Buttons
@mixin button() {
	border: 2px solid #222;
	color: #fff;
	background-color: #222;
	text-decoration: none !important;
	border-radius: 0;
	padding: .35em 1.25em;
	transition: all 150ms ease-in-out;

	&:active,
	&:hover {
		cursor: default;
		outline: none;
		text-decoration: none;
	}

	&:active,
	&:focus,
	&:hover {
		color: #fff;
		border-color: #333;
		background: #333;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
}
