.block-editor .edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper {
  font-size: calc(var(--q-font-size) + var(--q-typo-ratio) * 1vw);
  color: var(--q-text-color);
  background-color: var(--q-content-bg); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper p,
  .edit-post-visual-editor.editor-styles-wrapper p {
    font-size: calc(var(--q-font-size) + var(--q-typo-ratio) * 1vw); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h1,
  .edit-post-visual-editor.editor-styles-wrapper h1 {
    font-size: calc(var(--q-typo-scale) * var(--q-typo-scale) * var(--q-typo-scale) * var(--q-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h2,
  .edit-post-visual-editor.editor-styles-wrapper h2 {
    font-size: calc(var(--q-typo-scale) * var(--q-typo-scale) * var(--q-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h3,
  .edit-post-visual-editor.editor-styles-wrapper h3 {
    font-size: calc(var(--q-typo-scale) * var(--q-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h4,
  .edit-post-visual-editor.editor-styles-wrapper h4 {
    font-size: calc(var(--q-typo-scale) * 1em); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h5,
  .edit-post-visual-editor.editor-styles-wrapper h5 {
    font-size: calc(1em / var(--q-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h6,
  .edit-post-visual-editor.editor-styles-wrapper h6 {
    font-size: calc(1em / var(--q-typo-scale) / var(--q-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .smaller,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper smaller,
  .edit-post-visual-editor.editor-styles-wrapper .smaller,
  .edit-post-visual-editor.editor-styles-wrapper smaller {
    font-size: calc(1em / var(--q-typo-scale) / var(--q-typo-scale) / var(--q-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .smallest,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper smallest,
  .edit-post-visual-editor.editor-styles-wrapper .smallest,
  .edit-post-visual-editor.editor-styles-wrapper smallest {
    font-size: calc(1em / var(--q-typo-scale) / var(--q-typo-scale) / var(--q-typo-scale) / var(--q-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h1, .block-editor .edit-post-visual-editor.editor-styles-wrapper h2, .block-editor .edit-post-visual-editor.editor-styles-wrapper h3, .block-editor .edit-post-visual-editor.editor-styles-wrapper h4, .block-editor .edit-post-visual-editor.editor-styles-wrapper h5, .block-editor .edit-post-visual-editor.editor-styles-wrapper h6,
  .edit-post-visual-editor.editor-styles-wrapper h1,
  .edit-post-visual-editor.editor-styles-wrapper h2,
  .edit-post-visual-editor.editor-styles-wrapper h3,
  .edit-post-visual-editor.editor-styles-wrapper h4,
  .edit-post-visual-editor.editor-styles-wrapper h5,
  .edit-post-visual-editor.editor-styles-wrapper h6 {
    color: var(--q-headers-color); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper a,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited,
  .edit-post-visual-editor.editor-styles-wrapper a,
  .edit-post-visual-editor.editor-styles-wrapper a:visited {
    color: var(--q-links-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
    -webkit-text-decoration: var(--q-links-text-decoration);
            text-decoration: var(--q-links-text-decoration);
    transition: all 100ms ease-in-out; }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:active, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:hover,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:active,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:hover,
    .edit-post-visual-editor.editor-styles-wrapper a:active,
    .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:hover,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:active,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:hover {
      color: var(--q-links-hover-color);
      outline: thin dotted; }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:focus,
    .edit-post-visual-editor.editor-styles-wrapper a:visited:focus {
      outline: thin dashed; }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a h1, .block-editor .edit-post-visual-editor.editor-styles-wrapper a h2, .block-editor .edit-post-visual-editor.editor-styles-wrapper a h3, .block-editor .edit-post-visual-editor.editor-styles-wrapper a h4, .block-editor .edit-post-visual-editor.editor-styles-wrapper a h5, .block-editor .edit-post-visual-editor.editor-styles-wrapper a h6,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h1,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h2,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h3,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h4,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h5,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited h6,
    .edit-post-visual-editor.editor-styles-wrapper a h1,
    .edit-post-visual-editor.editor-styles-wrapper a h2,
    .edit-post-visual-editor.editor-styles-wrapper a h3,
    .edit-post-visual-editor.editor-styles-wrapper a h4,
    .edit-post-visual-editor.editor-styles-wrapper a h5,
    .edit-post-visual-editor.editor-styles-wrapper a h6,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h1,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h2,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h3,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h4,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h5,
    .edit-post-visual-editor.editor-styles-wrapper a:visited h6 {
      -webkit-text-decoration: var(--q-header-links-text-decoration);
              text-decoration: var(--q-header-links-text-decoration); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper h1 a, .block-editor .edit-post-visual-editor.editor-styles-wrapper h2 a, .block-editor .edit-post-visual-editor.editor-styles-wrapper h3 a, .block-editor .edit-post-visual-editor.editor-styles-wrapper h4 a, .block-editor .edit-post-visual-editor.editor-styles-wrapper h5 a, .block-editor .edit-post-visual-editor.editor-styles-wrapper h6 a,
  .edit-post-visual-editor.editor-styles-wrapper h1 a,
  .edit-post-visual-editor.editor-styles-wrapper h2 a,
  .edit-post-visual-editor.editor-styles-wrapper h3 a,
  .edit-post-visual-editor.editor-styles-wrapper h4 a,
  .edit-post-visual-editor.editor-styles-wrapper h5 a,
  .edit-post-visual-editor.editor-styles-wrapper h6 a {
    -webkit-text-decoration: var(--q-header-links-text-decoration);
            text-decoration: var(--q-header-links-text-decoration); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-caption,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-caption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption {
    margin-bottom: 1.5em;
    max-width: 100%;
    width: 100%;
    font-size: 0.85em;
    background-color: rgba(128, 128, 128, .1);
    padding-bottom: 0.5em;
    color: var(--q-text-color);
    font-size: calc(1em / var(--q-typo-scale)); }
    .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-caption .wp-caption-text,
    .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption .wp-caption-text,
    .edit-post-visual-editor.editor-styles-wrapper .wp-caption .wp-caption-text,
    .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption .wp-caption-text {
      margin: 0.8075em 0; }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption {
    padding: 1em; }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation {
    color: var(--q-text-color);
    font-size: calc(1em / var(--q-typo-scale)); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large),
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left-color: var(--q-links-hover-color); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote {
    color: var(--q-text-color);
    border-top-color: var(--q-links-hover-color);
    border-bottom-color: var(--q-links-hover-color);
    border-left-color: var(--q-links-hover-color);
    border-right-color: var(--q-links-hover-color); }
  .block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
  .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text {
    font-size: calc(var(--q-typo-scale) * 1em); }

.block-editor .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
  font-size: calc(var(--q-typo-scale) * var(--q-typo-scale) * var(--q-typo-scale) * var(--q-typo-scale) * 1em);
  color: var(--q-headers-color); }

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: var(--q-links-color); }

.wp-block {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--q-content-max-width); }

.editor-block-list__block[data-type="core/image"][data-align="center"] .wp-block-image, .editor-block-list__block[data-type="core/image"][data-align="center"][data-resized="false"] .wp-block-image > div {
  width: 100%; }

.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  max-width: calc(100% + var(--q-content-padding-left) + var(--q-content-padding-right)); }
