.q-tp-header_branding.q-tp {
	background-color: var(--q-branding-bg);
	display: flex;
	width: 100%;
	padding: var(--q-branding-padding);
	justify-content: var(--q-branding-horizontal-align);
	align-items: var(--q-branding-vertical-align);

	&.inline {
		.site-title {
			padding-left: var(--q-branding-elements-padding);
			padding-right: var(--q-branding-elements-padding);
		}
	}

	&.vertical {
		flex-wrap: wrap;

		>* {
			display: flex;
			width: 100%;
			justify-content: var(--q-branding-horizontal-align);
		}

		.site-title {
			padding-top: var(--q-branding-elements-padding);
			padding-bottom: var(--q-branding-elements-padding);
		}
	}

	.site-title,
	.site-description {
		margin: 0;
	}

	.site-title {
		line-height: 1;

		a {
			text-decoration: none;
		}
	}

	a {
		&:hover {
			outline: none;
		}

		&:focus {
			background: transparent;
			outline: none;
		}
	}

	.custom-logo-link {
		max-width: var(--q-logo-max-width);
		line-height: 0;
		max-height: 100%;
		display: block;

		img {
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
