.q-tp-header_contact_info.q-tp {
  background-color: var(--q-header-contact-bg);
  font-size: var(--q-header-contact-font-size);
  -ms-flex-pack: var(--q-header-contact-text-align);
      justify-content: var(--q-header-contact-text-align);
  width: 100%;
  max-width: 100%;
  -ms-flex-align: center;
      align-items: center;
  padding: var(--q-header-contact-padding);
  color: var(--q-header-contact-color); }
  .q-tp-header_contact_info.q-tp a {
    color: var(--q-header-contact-color); }
