.q-tp-header_contact_info.q-tp {
	background-color: var(--q-header-contact-bg);
	font-size: var(--q-header-contact-font-size);
	justify-content: var(--q-header-contact-text-align);
	width: 100%;
	max-width: 100%;
	align-items: center;
	padding: var(--q-header-contact-padding);
	color: var(--q-header-contact-color);

	a {
		color: var(--q-header-contact-color);
	}
}
