.q-tp-header.q-tp {
	display: flex;
	justify-content: center;
	overflow: visible;
	z-index: 1000;
	background-color: var(--q-header-bg);
	box-shadow: var(--q-header-box-shadow);

	> .inner {
		width: 100%;
		max-width: var(--q-header-max-width);
		grid-gap: var(--q-header-grid-gap);
	}
}
