.q-tp-header.q-tp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: visible;
  z-index: 1000;
  background-color: var(--q-header-bg);
  box-shadow: var(--q-header-box-shadow); }
  .q-tp-header.q-tp > .inner {
    width: 100%;
    max-width: var(--q-header-max-width);
    grid-gap: var(--q-header-grid-gap); }
